<div class="EmptyState">
  <div class="Container">
    <h4 class="EmptyState__Title Heading u-h5">{{ '404.general.title' | t }}</h4>
    <p class="EmptyState__Description Text--subdued">oops, looks like we can't find the page you're looking for.</p>
  </div> 
</div>
<style>
  .EmptyState {
    font-family: Montserrat, sans-serif;
    text-decoration: underline;
  }
</style>